@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shapeMover {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-shapeMover {
    animation-name: shapeMover;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }
}

.animation-ripple {
    animation: ripple 3s infinite;
}

